.game
    {
        align-items: center;
        text-align: center;
    }
.game img
    {
        height: 623px;
        margin-right: 10px;
            
    }
.leave
    {
        position: fixed;
        top: 5px;
        right: 5px;
        padding: 20px;
    }
.listSeach
    {
        position: fixed;
        top: 40px;
        right: -15px;
        padding: 20px;
        text-align: center;
    }
@media (min-width: 1600px)
    {
        .game img
        {
            height: 837px;
        }
    }
@media (max-width: 800px)
    {
        .leave
        {
            position: relative;
        }
        .listSeach
        {
             position: relative;
        }
        .game img
        {
            height: 70%;
            width: 70%;
        }
        }