body
{
    background-color:rgb(106, 99, 99);
}


.result
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.result .item
{
    width: calc(65% - 8rem);
    margin-bottom: 2rem;
    background: white;
    border: solid 2px white;
}
.result .item img
{
    width: 100%;
}
.result .item2
{
    width: calc(25% - 2rem);
    margin-bottom: 2rem;
    background: white;
    border: solid 2px white;
}



.chose button
{
    width: 15%;
    padding: 5px;
    margin: 5px;
    margin: 15px;
}



@media (max-width: 900px)
{
    .result .item
{
    width: 100%
}

.result .item2
{
    width: calc(35% - 2rem);

}
}