.sec2
{
    margin: 90px 0;
}
.sec2 .container
{
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: auto;
}

.sec2 .big-card
{
    display: flex;
    width: 85%;
    background-color: #353448;
    height: 100%;
    border-radius: 10px;
    border: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    animation: shadow 1.5s infinite ease-in-out;
}

@keyframes shadow
{
    0%{box-shadow: 0px 0px 10px 8px rgb(62, 62, 177);}
    50%{box-shadow: 0px 0px 10px 3px white;}
    100%{box-shadow: 0px 0px 10px 8px rgb(62, 62, 177);}
}


.sec2 .big-card .left
{
    margin-right: 80px;
}

.sec2 .big-card .left img
{
    position: relative;
    border-radius: 10px;
}

.sec2 .big-card .right
{
    max-width: 500px;
}

.sec2 .big-card .right a
{
    text-decoration: none;
    color: white;
   font-size: 2em;
   font-family: Arial, sans-serif;
}


.sec2 .big-card p
{
    max-width: 500px;
    color: white;
}

.sec2 .big-card h1
{
    color: white;
    font-size: 5em;
    margin-bottom: 30px;
}


@media (max-width: 1300px)
{
    .sec2 .container
    {
        flex-direction: column;
    }   

    .sec2 .big-card .left img
    {
        width: 124%;
    }
}